@import url('../../Assets/GlobalCss/AllStyle.css');
@import url('../../Assets/GlobalCss/Fonts.css');

/* Desktop Style */

.area-father {
    width: 100%;
    min-height: 70vh;
    /* min-height: 100px; */
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.area-me-father {
    width: 40%;
    padding: 40px 0 0 0;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.area-me-img {
    width: 120px;
    height: auto;
    border-radius: 100%;
    padding: 0;
    margin: 30px 0 30px 0;
}

.area-me-name {
    font-family: orienta, shabnam;
    font-size: 17px;
    padding: 0;
    margin: 5px 0 5px 0;
    color: black;
    direction: rtl;
    text-align: center;
}

.area-me-username {
    font-family: orienta, shabnam;
    font-size: 11px;
    padding: 0;
    margin: 1px 0 10px 0;
    color: rgb(71, 71, 71);
    text-align: center;
}

.area-me-sbio {
    width: 60%;
    font-family: orienta, shabnam;
    font-size: 13px;
    padding: 25px 0 0 0;
    margin: 15px 0 5px 0;
    color: rgb(83, 81, 81);
    direction: rtl;
    text-align: center;
    border-top: solid 1px rgb(75, 74, 74);
}

.area-me-fbio {
    width: 60%;
    font-family: orienta, shabnam;
    font-size: 14px;
    padding: 0 0 25px 0;
    margin: 15px 0 15px 0;
    color: rgb(29, 28, 28);
    direction: rtl;
    text-align: right;
    border-bottom: solid 1px rgb(75, 74, 74);
}

.area-me-extra-father {
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.area-me-extra-child {
    width: 60%;
    min-height: 50px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.extra-key {
    font-family: orienta, shabnam;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.616);
}

.extra-value {
    font-family: orienta, shabnam;
    font-size: 14px;
    color: black;
    text-align: right;
    width: 200px;
}

.area-me-connect-father {
    min-height: 50px;
    width: 35%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 0 0;
}

.connect-child {
    box-sizing: content-box;
    width: 50px;
    height: auto;
    cursor: pointer;
    padding: 0;
    margin: 0;
    padding: 6px;
    background-color: transparent;
    transition: 200ms;
}

.connect-child:hover {
    background-color: rgba(32, 32, 32, 0.192);
}

.area-maybe {
    width: 50%;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0 35px 0;
}

.area-maybe-title {
    font-family: orienta, shabnam;
    font-size: 15px;
    text-align: center;
    direction: rtl;
    width: 60%;
    padding: 0px 0 25px 0;
    border-bottom: solid 1px rgb(75, 74, 74);
}

.edit-btn {
    height: 40px;
    min-width: 80px;
    padding: 5px 10px 5px 10px;
    margin: 30px;
    background-color: transparent;
    border-radius: 20px;
    font-family: orienta, shabnam;
    font-size: 14px;
    direction: rtl;
    color: black;
    transition: 200ms;
    border: solid 1px rgb(100, 100, 240);
}

.edit-btn:hover {
    transition: 200ms;
    background-color: rgb(100, 100, 240);
    cursor: pointer;
    color: white;
}

.area-me-field {
    width: 60%;
    font-family: orienta, shabnam;
    font-size: 13px;
    padding: 0px 0 0 0;
    margin: 0px 0 5px 0;
    color: rgb(83, 81, 81);
    direction: rtl;
    text-align: center;
}

.area-maybe-other {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


/* Desktop Style End */


/* Mobile Style*/

.mobarea-father {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.mobarea-me-father {
    width: 80%;
    padding: 50px 0 0 0;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mobarea-me-img {
    width: 120px;
    height: auto;
    border-radius: 100%;
    padding: 0;
    margin: 30px 0 30px 0;
}

.mobarea-me-name {
    font-family: orienta, shabnam;
    font-size: 17px;
    padding: 0;
    margin: 5px 0 5px 0;
    color: black;
    direction: rtl;
    text-align: center;
}

.mobarea-me-username {
    font-family: orienta, shabnam;
    font-size: 11px;
    padding: 0;
    margin: 1px 0 10px 0;
    color: rgb(71, 71, 71);
    text-align: center;
}

.mobarea-me-sbio {
    width: 70%;
    font-family: orienta, shabnam;
    font-size: 12px;
    padding: 25px 0 0 0;
    margin: 15px 0 5px 0;
    color: rgb(83, 81, 81);
    direction: rtl;
    text-align: center;
    border-top: solid 1px rgb(75, 74, 74);
}

.mobarea-me-fbio {
    width: 70%;
    font-family: orienta, shabnam;
    font-size: 13px;
    padding: 0 0 25px 0;
    margin: 15px 0 15px 0;
    color: rgb(29, 28, 28);
    direction: rtl;
    text-align: right;
    border-bottom: solid 1px rgb(75, 74, 74);
}

.mobarea-me-extra-father {
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mobarea-me-extra-child {
    width: 80%;
    min-height: 50px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.mobextra-key {
    font-family: orienta, shabnam;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.616);
}

.mobextra-value {
    font-family: orienta, shabnam;
    font-size: 11px;
    color: black;
    text-align: right;
    width: 150px;
}

.mobarea-me-connect-father {
    min-height: 50px;
    width: 50%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 0 0;
}

.mobconnect-child {
    width: 30px;
    height: auto;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.mobarea-maybe {
    width: 80%;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;
}

.mobarea-maybe-title {
    font-family: orienta, shabnam;
    font-size: 15px;
    text-align: center;
    direction: rtl;
    width: 60%;
    padding: 0px 0 25px 0;
    border-bottom: solid 1px rgb(75, 74, 74);
}

.mobedit-btn {
    height: 37px;
    min-width: 80px;
    padding: 5px 10px 5px 10px;
    margin: 30px;
    background-color: transparent;
    border-radius: 20px;
    font-family: orienta, shabnam;
    font-size: 12px;
    direction: rtl;
    color: black;
    transition: 200ms;
    border: solid 1px rgb(100, 100, 240);
}

.mobedit-btn:hover {
    transition: 200ms;
    background-color: rgb(100, 100, 240);
    cursor: pointer;
    color: white;
}

.mobarea-me-field {
    width: 70%;
    font-family: orienta, shabnam;
    font-size: 12px;
    padding: 0px 0 0 0;
    margin: 0px 0 5px 0;
    color: rgb(83, 81, 81);
    direction: rtl;
    text-align: center;
}


/* Mobile Style */