@import url('../../../Assets/GlobalCss/AllStyle.css');
@import url('../../../Assets/GlobalCss/Fonts.css');

/* All Style */

.uaamenu {
    cursor: none;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}


/* All Style End */


/* Desktop Style */

.uahead {
    width: 100%;
    height: 105px;
    background: url('../../../Assets/Images/background.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}

.uahead>p[id='uabigtitle'] {
    font-family: shabnam;
    font-size: 26px;
    color: white;
    margin: 0;
    direction: rtl;
}

.uahead>p[id='uasmalltitle'] {
    font-family: shabnam;
    font-size: 16px;
    color: black;
    margin: 2px;
    direction: rtl;
}

.uasmallmenu {
    width: 100%;
    height: 50px;
    background-color: rgb(39, 29, 29);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0px 15px 30px 10px #00000027;
}

.uamenubox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.uasearchbox {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}

.uamenubutton {
    min-width: 50px;
    max-height: 25px;
    min-height: 25px;
    font-family: shabnam;
    font-size: 14px;
    color: white;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    border-radius: 7px;
    /* border: solid 1px rgb(231, 230, 230); */
    border: none;
    color: white
}

.uamenubutton:hover {
    background-color: rgb(231, 230, 230);
    color: black;
}

.uamenubutton:focus {
    border: none;
    outline: none;
}

.uasearchbutton {
    padding: 0;
    min-width: 100px;
    max-height: 30px;
    min-height: 30px;
    font-family: shabnam;
    font-size: 14px;
    color: white;
    margin: 0;
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(231, 230, 230);
    border-radius: 7px;
    border: none;
    color: black;
    box-sizing: border-box;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
}

.uasearchbutton p {
    padding: 0;
    margin: 0;
}

.uasearchbutton img {
    height: 15px;
    width: auto;
    margin: 1px 5px 0 2px;
}

.uasearchbutton:hover {
    cursor: pointer;
    outline: 0;
}

.uasearchbutton:focus {
    outline: 0;
}

.uasearchinput {
    min-width: 200px;
    max-width: 200px;
    max-height: 28px;
    min-height: 28px;
    font-family: shabnam;
    font-size: 14px;
    color: white;
    padding: 0px;
    margin: 0;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(194, 194, 194);
    border: solid 1px rgb(231, 230, 230);
    color: black;
    direction: rtl;
}

.uasearchinput:focus {
    outline: none;
}


/* Desktop Style End */


/* Mobile Style */

.mobuahead {
    width: 100%;
    height: 70px;
    /*background-color: rgb(29, 24, 24);*/
    background: url('../../../Assets/Images/background.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.mobuahead>p[id='mobuabigtitle'] {
    font-family: shabnam;
    font-size: 18px;
    color: white;
    margin: 0;
    direction: rtl;
}

.mobuahead>p[id='mobuasmalltitle'] {
    font-family: shabnam;
    font-size: 12px;
    color: black;
    margin: 2px;
    direction: rtl;
}

.mobuasmallmenu {
    width: 100%;
    height: 35px;
    background-color: rgb(39, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.mobuaslidebox {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    margin: 0;
}

.mobuasearchbox {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    margin: 0;
}

.mobuasearchbutton {
    padding: 0;
    min-width: 75px;
    max-height: 25px;
    min-height: 25px;
    font-family: shabnam;
    font-size: 12px;
    color: white;
    margin: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgb(231, 230, 230);
    border-radius: 7px;
    border: none;
    color: black;
    box-sizing: border-box;
}

.mobuasearchbutton:hover {
    cursor: pointer;
}

.mobuasearchbutton:focus {
    outline: none;
}

.mobuasearchinput {
    min-width: 150px;
    width: 80%;
    max-width: 60%;
    max-height: 23px;
    min-height: 23px;
    font-family: shabnam;
    font-size: 12px;
    color: white;
    padding: 0px;
    margin: 0;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(194, 194, 194);
    border: solid 1px rgb(231, 230, 230);
    color: black;
    direction: rtl;
}

.mobuasearchinput:focus {
    outline: none;
}

.mobuamenuspan {
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

.mobuasidenav {
    padding-top: 10px;
    width: 0;
    position: absolute;
    right: 0;
    top: 105px;
    bottom: 0;
    background-color: rgb(39, 29, 29);
    transition: 0.5s;
    flex-flow: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: +1;
    overflow-x: hidden;
}

.mobuamenubutton {
    min-width: 70px;
    max-width: 70px;
    max-height: 30px;
    min-height: 30px;
    font-family: shabnam;
    font-size: 11px;
    color: white;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    border-radius: 7px;
    border: none;
    color: white;
}

.mobuamenubutton:hover {
    background-color: rgb(231, 230, 230);
    color: black;
}

.mobuamenubutton:focus {
    border: none;
    outline: none;
}


/*Mobile Style End */