body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 230, 230);
}

.scroller {
    overflow-y: scroll;
    scrollbar-color: #0A4C95 #C2D2E4;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}