@font-face {
    font-family: raleway;
    src: url('../Fonts/Raleway/Raleway-Light.ttf')
}

@font-face {
    font-family: orienta;
    src: url('../Fonts/Orienta.ttf')
}

@font-face {
    font-family: barlow;
    src: url('../Fonts/Barlow_Condensed/BarlowCondensed-Light.ttf')
}

@font-face {
    font-family: shabnam;
    src: url('../Fonts/Shabnam.ttf')
}