@import url('../../Assets/GlobalCss/AllStyle.css');
@import url('../../Assets/GlobalCss/Fonts.css');


/* Desktop Style */
.containall{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bigbox{
    width: 550px;
    height: 350px;
    border-radius: 15px;
    background: rgb(226, 226, 226);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.185);
    animation: bigboxload 500ms 500ms forwards;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.boxhead{
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    height: 150px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgba(197, 194, 194, 0.856);
}
.headbig{
    margin: 0;
    margin-top: 20px;
    font-family: shabnam;
    font-size: 20px;
    text-align: center;
    color: rgb(36, 36, 36);
}
.headsmall{
    font-family: shabnam;
    font-size: 15px;
    text-align: center;
    color: rgb(73, 73, 73);
}

.boxbody{
    width: 100%;
    height: 400px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.nameormailinput{
    box-sizing: border-box;
    width: 240px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px rgb(79, 197, 197);
    margin: 5px;
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    text-align: center;
    font-family: orienta, shabnam;
}
.nameormailinput:focus{
    background-color: rgba(79, 197, 197, 0.11);
    transition: 200ms;
}
.passwordinput{
    box-sizing: border-box;
    width: 240px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px rgb(79, 197, 197);
    margin: 5px;
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    text-align: center;
    font-family: orienta, shabnam;
}
.passwordinput:focus{
    background-color: rgba(79, 197, 197, 0.11);
    transition: 200ms;
}

.signsubmit{
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(115, 211, 211);
    border: none;
    margin-top: 10px;    
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    text-align: center;
    font-family: orienta, shabnam;
    cursor: pointer;
}
.signsubmit:hover{
    color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.205);
}

@keyframes bigboxload{
    from{
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.185);
        background: #E7E6E6;
    }
    to{
        box-shadow: 10px 13px 10px rgba(0, 0, 0, 0.185);
        background: rgb(226, 226, 226);        
    }
}
/* Desktop Style End */

/* Mobile Style */
.mobcontainall{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 70px;
    padding-bottom: 10px;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.mobheadbig{
    margin: 0;
    font-family: orienta, shabnam;
    font-size: 16px;
    text-align: center;
    color: rgb(36, 36, 36);
}
.mobheadsmall{
    font-family: orienta, shabnam;
    font-size: 12px;
    text-align: center;
    color: rgb(73, 73, 73);
}

.mobboxbody{
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mobnameormailinput{
    opacity: 0;
    box-sizing: border-box;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px rgb(79, 197, 197);
    margin: 5px;
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    text-align: center;
    font-family: orienta, shabnam;
    animation: mobinpload 500ms 0.2s forwards;
}
.mobnameormailinput:focus{
    background-color: rgba(79, 197, 197, 0.11);
    transition: 200ms;
}
.mobpasswordinput{
    opacity: 0;
    box-sizing: border-box;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px rgb(79, 197, 197);
    margin: 5px;
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    text-align: center;
    font-family: orienta, shabnam;
    animation: mobinpload 500ms 0.4s forwards;
}
.mobpasswordinput:focus{
    background-color: rgba(79, 197, 197, 0.11);
    transition: 200ms;
}

.mobsignsubmit{
    opacity: 0;
    box-sizing: border-box;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(115, 211, 211);
    border: none;
    margin-top: 10px;    
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    text-align: center;
    font-family: orienta, shabnam;
    cursor: pointer;
    animation: mobbtnload 500ms 0.6s forwards;
}
.mobsignsubmit:hover{
    color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.205);
}

@keyframes mobinpload{
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 240px;
        opacity: 1;
    }
}

@keyframes mobbtnload{
    from{
        width: 50px;
        opacity: 0;
    }
    to{
        width: 140px;
        opacity: 1;
    }
}
/* Mobile Style End */
