@import url('../../Assets/GlobalCss/AllStyle.css');
@import url('../../Assets/GlobalCss/Fonts.css');
.profile-all-screen {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.profile-all-screen-show {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 70vh;
    min-height: 500px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
}


/* Desktop Style */

.profile-not-in {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 100px 0px;
}

.profile-btn {
    margin: 20px 0px 0px 0px;
    border-radius: 30px;
    background: transparent;
    border: solid 1px rgb(78, 78, 78);
    cursor: pointer;
    width: 80px;
    height: 35px;
    font-family: orienta, shabnam;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    transition: 200ms;
    color: rgb(78, 78, 78);
}

.profile-btn:hover {
    width: 100px;
    transition: 200ms;
    background: rgb(78, 78, 78);
    color: white;
}

#title-big {
    font-family: orienta, shabnam;
    font-size: 18px;
    text-align: center;
}

.profile-view {
    width: 30%;
    max-width: 300px;
    min-height: 100px;
    box-sizing: border-box;
    padding: 0px 0px 20px 0px;
    margin: 40px 0 0 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 110px;
    height: auto;
    margin: 30px 30px 20px 30px;
    padding: 0;
    border-radius: 100%;
}

.profile-name-father {
    width: 100%;
    padding: 0;
    margin: 0px 0px 20px 0px;
    min-height: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#profile-name {
    font-family: orienta, shabnam;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    color: black;
    direction: rtl;
}

#profile-id {
    font-family: orienta, shabnam;
    font-size: 12px;
    text-align: center;
    margin: 0px;
    color: rgba(48, 48, 48, 0.555);
    direction: ltr;
}

.profile-bio {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
}

#bio-small {
    direction: rtl;
    font-family: orienta, shabnam;
    text-align: center;
    font-size: 14px;
}

#bio-full {
    text-align: center;
    direction: rtl;
    font-family: orienta, shabnam;
    font-size: 14px;
    max-width: 300px;
    padding: 20px 0px 20px 0px;
    border-top: solid 1px rgba(61, 61, 61, 0.452);
}

.profile-other-father {
    border: solid 1px rgba(141, 139, 139, 0.438);
    width: 30%;
    max-width: 550px;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.profile-other-fchild {
    width: 80%;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    margin: 5px 0 5px 0;
    min-height: 100px;
}

.profile-other-mini {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px 20px 10px;
    padding: 0;
    box-sizing: border-box;
}

.profile-other-mini-child-p1 {
    text-align: right;
    font-family: oorienta, shabnam;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.801);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100px;
    direction: rtl;
}

.profile-other-mini-child-p2 {
    text-align: center;
    font-family: oorienta, shabnam;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.801);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 180px;
    direction: rtl;
}

.profile-other-def {
    width: 100%;
    height: 40px;
    font-family: orienta, shabnam;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: rgb(32, 32, 32);
    border: solid 1px rgba(141, 139, 139, 0.438);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0 40px 0;
}

.profile-friends {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 80%;
    /* border: solid 1px rgba(141, 139, 139, 0.438); */
    margin-right: 45px;
    align-items: center;
}

.profile-friends-title {
    min-height: 20px;
    height: 10%;
    font-family: orienta, shabnam;
    font-size: 22px;
}

.profile-friends-members {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profile-Friends-member {
    height: 20%;
}


/* Desktop Style End */


/* Mobile Style */

.mobprofile-all-screen-show {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.mobprofile-not-in {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0px 100px 0px;
}

.mobprofile-btn {
    margin: 20px 0px 0px 0px;
    border-radius: 30px;
    background: transparent;
    border: solid 1px rgb(78, 78, 78);
    cursor: pointer;
    width: 70px;
    height: 30px;
    font-family: orienta, shabnam;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    transition: 200ms;
    color: rgb(78, 78, 78);
}

.mobprofile-btn:hover {
    width: 90px;
    transition: 200ms;
    background: rgb(78, 78, 78);
    color: white;
}

#mobtitle-big {
    font-family: orienta, shabnam;
    font-size: 14px;
    text-align: center;
}

.mobsprofile-not-in {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0px 100px 0px;
}

.mobprofile-btn {
    margin: 20px 0px 0px 0px;
    border-radius: 30px;
    background: transparent;
    border: solid 1px rgb(78, 78, 78);
    cursor: pointer;
    width: 80px;
    height: 35px;
    font-family: orienta, shabnam;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    transition: 200ms;
    color: rgb(78, 78, 78);
}

.mobprofile-btn:hover {
    width: 100px;
    transition: 200ms;
    background: rgb(78, 78, 78);
    color: white;
}

#mobtitle-big {
    font-family: orienta, shabnam;
    font-size: 18px;
    text-align: center;
}

.mobprofile-view {
    width: 30%;
    max-width: 550px;
    ;
    min-height: 100px;
    box-sizing: border-box;
    padding: 0px 0px 20px 0px;
    margin: 40px 0 0 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.mobprofile-image {
    width: 110px;
    height: auto;
    margin: 30px 30px 20px 30px;
    padding: 0;
    border-radius: 100%;
}

.mobprofile-name-father {
    width: 100%;
    padding: 0;
    margin: 0px 0px 20px 0px;
    min-height: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#mobprofile-name {
    font-family: orienta, shabnam;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    color: black;
    direction: rtl;
}

#mobprofile-id {
    font-family: orienta, shabnam;
    font-size: 12px;
    text-align: center;
    margin: 0px;
    color: rgba(48, 48, 48, 0.555);
    direction: ltr;
}

.mobprofile-bio {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
}

#mobbio-small {
    direction: rtl;
    font-family: orienta, shabnam;
    text-align: center;
    font-size: 14px;
}

#mobbio-full {
    text-align: center;
    direction: rtl;
    font-family: orienta, shabnam;
    font-size: 14px;
    max-width: 300px;
    padding: 20px 0px 20px 0px;
    border-top: solid 1px rgba(61, 61, 61, 0.452);
}

.mobprofile-other-father {
    border: solid 1px rgba(141, 139, 139, 0.438);
    width: 90%;
    max-width: 550px;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mobprofile-other-fchild {
    width: 80%;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    margin: 5px 0 5px 0;
    min-height: 100px;
}

.mobprofile-other-mini {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0px 20px 0px;
    padding: 0;
    box-sizing: border-box;
}

.mobprofile-other-mini-child-p1 {
    text-align: right;
    font-family: oorienta, shabnam;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.801);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100px;
    direction: rtl;
}

.mobprofile-other-mini-child-p2 {
    text-align: center;
    font-family: oorienta, shabnam;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.801);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 180px;
    direction: rtl;
}

.mobprofile-other-def {
    width: 100%;
    height: 40px;
    font-family: orienta, shabnam;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: rgb(32, 32, 32);
    border: solid 1px rgba(141, 139, 139, 0.438);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0 40px 0;
}


/* Mobile Style End */