@import url('../../../Assets/GlobalCss/AllStyle.css');
@import url('../../../Assets/GlobalCss/Fonts.css');

/* All Style */

.amenu {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}


/* All Style End */


/* Desktop Style */

.head {
    width: 100%;
    height: 105px;
    background: url('../../../Assets/Images/background.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}

.head>p[id='bigtitle'] {
    font-family: shabnam;
    font-size: 26px;
    color: white;
    margin: 0;
    direction: rtl;
}

.head>p[id='smalltitle'] {
    font-family: shabnam;
    font-size: 16px;
    color: black;
    margin: 2px;
    direction: rtl;
}

.smallmenu {
    width: 100%;
    height: 50px;
    background-color: rgb(39, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
}

.menubox {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}

.searchbox {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}

.menubutton {
    min-width: 50px;
    max-width: 200px;
    max-height: 25px;
    min-height: 25px;
    font-family: shabnam;
    font-size: 14px;
    color: white;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    border-radius: 7px;
    /* border: solid 1px rgb(231, 230, 230); */
    border: none;
    color: white
}

.menubutton:hover {
    background-color: rgb(231, 230, 230);
    color: black;
}

.menubutton:focus {
    border: none;
    outline: none;
}

.searchbutton {
    padding: 0;
    min-width: 100px;
    max-width: 200px;
    max-height: 30px;
    min-height: 30px;
    font-family: shabnam;
    font-size: 14px;
    color: white;
    margin: 0;
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(231, 230, 230);
    border-radius: 7px;
    border: none;
    color: black;
    box-sizing: border-box;
}

.searchbutton:hover {
    cursor: pointer;
    outline: 0;
}

.searchbutton:focus {
    outline: 0;
}

.searchinput {
    min-width: 200px;
    max-width: 200px;
    max-height: 28px;
    min-height: 28px;
    font-family: shabnam;
    font-size: 14px;
    color: white;
    padding: 0px;
    margin: 0;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(194, 194, 194);
    border: solid 1px rgb(231, 230, 230);
    color: black;
    direction: rtl;
}

.searchinput:focus {
    outline: none;
}


/* Desktop Style End */


/* Mobile Style */

.mobhead {
    width: 100%;
    height: 70px;
    /*background-color: rgb(29, 24, 24);*/
    background: url('../../../Assets/Images/background.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.mobhead>p[id='bigtitle'] {
    font-family: shabnam;
    font-size: 18px;
    color: white;
    margin: 0;
    direction: rtl;
}

.mobhead>p[id='smalltitle'] {
    font-family: shabnam;
    font-size: 12px;
    color: black;
    margin: 2px;
    direction: rtl;
}

.mobsmallmenu {
    width: 100%;
    height: 35px;
    background-color: rgb(39, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.mobslidebox {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    margin: 0;
}

.mobsearchbox {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    margin: 0;
}

.mobsearchbutton {
    padding: 0;
    min-width: 75px;
    width: 20%;
    max-width: 120px;
    max-height: 25px;
    min-height: 25px;
    font-family: shabnam;
    font-size: 12px;
    color: white;
    margin: 0;
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgb(231, 230, 230);
    border-radius: 7px;
    border: none;
    color: black;
    box-sizing: border-box;
}

.mobsearchbutton:hover {
    cursor: pointer;
}

.mobsearchbutton:focus {
    outline: none;
}

.mobsearchinput {
    min-width: 150px;
    width: 80%;
    max-width: 60%;
    max-height: 23px;
    min-height: 23px;
    font-family: shabnam;
    font-size: 12px;
    color: white;
    padding: 0px;
    margin: 0;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(194, 194, 194);
    border: solid 1px rgb(231, 230, 230);
    color: black;
    direction: rtl;
}

.mobsearchinput:focus {
    outline: none;
}

.mobmenuspan {
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

.mobsidenav {
    padding-top: 10px;
    width: 0;
    position: absolute;
    right: 0;
    top: 105px;
    bottom: 0;
    background-color: rgb(39, 29, 29);
    transition: 0.5s;
    flex-flow: column;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: +1;
    overflow-x: hidden;
}

.mobmenubutton {
    min-width: 70px;
    max-width: 70px;
    max-height: 30px;
    min-height: 30px;
    font-family: shabnam;
    font-size: 11px;
    color: white;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    border-radius: 7px;
    border: none;
    color: white;
}

.mobmenubutton:hover {
    background-color: rgb(231, 230, 230);
    color: black;
}

.mobmenubutton:focus {
    border: none;
    outline: none;
}


/*Mobile Style End */