@import url('../../../Assets/GlobalCss/AllStyle.css');
@import url('../../../Assets/GlobalCss/Fonts.css');

.uaall{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* Desktop Style */
.uamenu-father{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    background: rgb(36, 182, 109);
    display: flex;
    flex-flow: row-reverse;
    align-content: center;
    justify-content: center;
}

.uamenu-father-p{
    position: absolute;
    font-family: shabnam, orienta;
    text-align: center;
    font-size: 15px;
    color: black;
    margin: 0;
    padding: 20px;
}

.uamenu-father-img{
    height: 50px;
    width: auto;
    padding: 0;
    margin: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 100%;
}
.uamenu-father-img:hover{
    cursor: pointer;
}

.smalltab-father{
    position: absolute;
    width: 100%;
    height: 100%;
}

.smalltab{
    width: 100px;
    min-height: 100px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.452);
    animation: tabIn 10000ms 0ms forwards;
}

.tab-img{
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 10px 0 10px 0;
    padding: 0 0 0px 0;
    border-radius: 100%;
    transition: 200ms;
}
.tab-name{
    font-family: orienta, shabnam;
    font-size: 12px;
    color: rgb(73, 73, 73);
}
.tab-btn{
    width: 100%;
    border: none;
    min-height: 30px;
    font-family: orienta, shabnam;
    font-size: 13px;
    text-align: center;
    background: transparent;
    transition: 200ms;
    cursor: pointer;
    margin: 5px 0 5px 0;
}
.tab-btn:hover{
    background: rgba(148, 146, 146, 0.705);
    transition: 200ms;
}

.tab-btn-exit{
    width: 100%;
    border: none;
    min-height: 30px;
    font-family: orienta, shabnam;
    font-size: 13px;
    text-align: center;
    background: transparent;
    transition: 200ms;
    cursor: pointer;
    margin: 5px 0 5px 0;
}
.tab-btn-exit:hover{
    background: rgba(228, 2, 2, 0.705);
    transition: 200ms;
}
/* Desktop Style End */


/* Mobile Style */
.mobuamenu-father{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    background: rgb(36, 182, 109);
    display: flex;
    flex-flow: row-reverse;
    align-content: center;
    justify-content: center;
}

.mobuamenu-father-p{
    position: absolute;
    font-family: shabnam, orienta;
    text-align: center;
    font-size: 15px;
    color: black;
    margin: 0;
    padding: 20px;
}

.mobuamenu-father-img{
    height: 50px;
    width: auto;
    padding: 0;
    margin: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 100%;
}

.mobuamenu-father-img:hover{
    cursor: pointer;
}

.mobsmalltab-father{
    position: absolute;
    width: 100%;
    height: 100%;
}

.mobsmalltab{
    width: 100px;
    min-height: 50px;
    border-radius: 7px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.815);
    animation: tabIn 300ms 0ms forwards;
}

.mobtab-img{
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 10px 0 10px 0;
    padding: 0 0 0px 0;
    border-radius: 100%;
    transition: 200ms;
}
.mobtab-name{
    font-family: orienta, shabnam;
    font-size: 10px;
    color: rgb(73, 73, 73);
}
.mobtab-btn{
    width: 100%;
    border: none;
    min-height: 30px;
    font-family: orienta, shabnam;
    font-size: 11px;
    text-align: center;
    background: transparent;
    transition: 200ms;
    cursor: pointer;
    margin: 5px 0 5px 0;
}
.mobtab-btn:hover{
    background: rgba(148, 146, 146, 0.705);
    transition: 200ms;
}

.mobtab-btn-exit{
    width: 100%;
    border: none;
    min-height: 30px;
    font-family: orienta, shabnam;
    font-size: 11px;
    text-align: center;
    background: transparent;
    transition: 200ms;
    cursor: pointer;
    margin: 5px 0 5px 0;
}
.mobtab-btn-exit:hover{
    background: rgba(228, 2, 2, 0.705);
    transition: 200ms;
}
/* Mobile Style End */


@keyframes tabIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}