@import url('../../Assets/GlobalCss/AllStyle.css');
@import url('../../Assets/GlobalCss/Fonts.css');

/* All Desktop */

.desfather0{
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    animation: fadein 3s;
}

.desfather{
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.destitle{
    box-sizing: border-box;
    width: 100%;
    font-family: shabnam;
    font-size: 24px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    color: rgb(12, 12, 12);
    direction: rtl;
}


.desbody{
    box-sizing: border-box;
    width: 100%;
    font-family: shabnam;
    font-size: 16px;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    vertical-align: middle;
    color: rgb(49, 49, 49);
    direction: rtl;
    line-height: 35px;
}