@import url('../../Assets/GlobalCss/AllStyle.css');
@import url('../../Assets/GlobalCss/Fonts.css');

/* Desktop style */

.main {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.containor {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.infoselgroup {
    width: 80%;
    height: 120px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.infosel {
    height: auto;
    transition: 0.3s;
    margin: 10px;
}


/* Desktop style End */


/* Mobile style */

.mobcontainor {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.mobinselfather {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100px;
}

.mobinsel {
    width: 50px;
    bottom: 0;
    height: auto;
    animation: fadein 500 ms;
    margin: 10px;
}


/* Mobile style End */

@keyframes fadein {
    from {
        opacity: 0;
        width: 0px;
    }
    to {
        opacity: 1;
        width: 70px;
    }
}