@import url('../../Assets/GlobalCss/AllStyle.css');
@import url('../../Assets/GlobalCss/Fonts.css');

/* Desktop style */
.footall{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    max-height: 20px;
    background-color: rgb(0, 0, 0);
    bottom: 0;
}

.footsmall{
    box-sizing: border-box;
    width: 30%;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
}
/* Desktop style End */

/* Mobile style */

/* Mobile style End */