.friends-member {
    height: 100%;
    width: 100%;
    background-color: rgb(210, 210, 210);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.185);
    animation: load 500ms 00ms forwards;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.friends-member-image {
    width: 25%;
    height: auto;
}

.friends-member-image img {
    object-fit: cover;
    height: 80%;
    width: 80%;
    margin-top: 5px;
    border-radius: 100%;
}

.friends-member-info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.friends-member-info-name {
    font-family: shabnam;
    font-size: 16px;
    font-weight: bold;
}

.friends-member-info-field {
    font-family: shabnam;
    font-size: 16px;
}

.friends-member-button {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends-member-button button {
    padding: 5px;
    width: 100%;
    font-family: shabnam;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

@keyframes load {
    from {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.185);
        background: #E7E6E6;
    }
    to {
        box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.185);
        background: rgb(210, 210, 210);
    }
}