@import url('../../../Assets/GlobalCss/AllStyle.css');
@import url('../../../Assets/GlobalCss/Fonts.css');

/* Desktop Style */

.edit-all {
    width: 100%;
    min-height: 100px;
}

.edit-father {
    width: 100%;
    min-height: 100px;
    padding: 50px 0 0 0;
}

.edit-def-father {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.edit-big-def {
    font-family: orienta, shabnam;
    margin: 0 0 10px 0;
    font-size: 17px;
    color: black;
    direction: rtl;
    padding: 0;
}

.edit-small-def {
    font-family: orienta, shabnam;
    font-size: 13px;
    margin: 0;
    color: rgb(39, 39, 39);
    direction: rtl;
}

.edit-area-father {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0 0;
    margin-bottom: 30px;
}

.edit-main-father {
    width: 40%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-left: solid 1px rgba(94, 94, 94, 0.671);
}

.main-child {
    margin: 10px 0 10px 0;
    min-height: 10px;
    width: 80%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.main-child-def {
    font-family: orienta, shabnam;
    margin: 0 0 0 0;
    font-size: 14px;
    color: black;
    direction: rtl;
}

.child-input {
    font-family: orienta, shabnam;
    height: 35px;
    min-width: 200px;
    background: white;
    border-radius: 30px;
    border: solid rgb(126, 126, 126) 1px;
    padding: 2px 10px 2px 10px;
    direction: rtl;
    transition: 400ms;
}

.edit-extra-father {
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.edit-extra-one {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.edit-extra-connect {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.extra-connect-image {
    width: 30px;
    height: auto;
    border-radius: 100%;
}

.edit-submit-button {
    height: 37px;
    min-width: 80px;
    padding: 5px 20px 5px 20px;
    margin: 10px;
    background-color: transparent;
    border-radius: 20px;
    font-family: orienta, shabnam;
    font-size: 12px;
    direction: rtl;
    color: black;
    transition: 200ms;
    border: solid 1px rgb(45, 214, 59);
}

.edit-submit-button:hover {
    transition: 200ms;
    background-color: rgb(45, 214, 59);
    cursor: pointer;
    color: white;
}

.edit-back-button {
    height: 37px;
    min-width: 80px;
    padding: 5px 20px 5px 20px;
    margin: 10px;
    background-color: transparent;
    border-radius: 20px;
    font-family: orienta, shabnam;
    font-size: 12px;
    direction: rtl;
    color: black;
    transition: 200ms;
    border: solid 1px rgba(255, 8, 8, 0.678);
}

.edit-back-button:hover {
    transition: 200ms;
    background-color: rgba(255, 8, 8, 0.678);
    cursor: pointer;
    color: white;
}

.edit-btn-group {
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


/* Desktop Style End */


/* Mobile Style */

.mobedit-all {
    width: 100%;
    min-height: 100px;
}

.mobedit-father {
    width: 100%;
    min-height: 100px;
    padding: 50px 0 0 0;
}

.mobedit-def-father {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mobedit-big-def {
    font-family: orienta, shabnam;
    margin: 0 0 10px 0;
    font-size: 17px;
    color: black;
    direction: rtl;
    padding: 0;
}

.mobedit-small-def {
    font-family: orienta, shabnam;
    font-size: 13px;
    margin: 0;
    color: rgb(39, 39, 39);
    direction: rtl;
}

.mobedit-area-father {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0 0;
}

.mobedit-main-father {
    width: 70%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgba(94, 94, 94, 0.671);
    padding: 0 0 30px 0;
}

.mobmain-child {
    margin: 10px 0 10px 0;
    min-height: 10px;
    width: 70%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.mobmain-child-def {
    font-family: orienta, shabnam;
    margin: 0 0 0 0;
    font-size: 14px;
    color: black;
    direction: rtl;
}

.mobchild-input {
    font-family: orienta, shabnam;
    height: 30px;
    min-width: 120px;
    background: white;
    border-radius: 30px;
    border: solid rgb(126, 126, 126) 1px;
    padding: 2px 10px 2px 10px;
    direction: rtl;
    transition: 400ms;
}

.mobedit-extra-father {
    width: 70%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0 0;
}

.mobedit-extra-one {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mobedit-extra-connect {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mobextra-connect-image {
    width: 30px;
    height: auto;
    border-radius: 100%;
}

.mobedit-submit-button {
    height: 37px;
    min-width: 80px;
    padding: 5px 20px 5px 20px;
    margin: 10px;
    background-color: transparent;
    border-radius: 20px;
    font-family: orienta, shabnam;
    font-size: 12px;
    direction: rtl;
    color: black;
    transition: 200ms;
    border: solid 1px rgb(45, 214, 59);
}

.mobedit-submit-button:hover {
    transition: 200ms;
    background-color: rgb(45, 214, 59);
    cursor: pointer;
    color: white;
}

.mobedit-back-button {
    height: 37px;
    min-width: 80px;
    padding: 5px 20px 5px 20px;
    margin: 10px;
    background-color: transparent;
    border-radius: 20px;
    font-family: orienta, shabnam;
    font-size: 12px;
    direction: rtl;
    color: black;
    transition: 200ms;
    border: solid 1px rgba(255, 8, 8, 0.678);
}

.mobedit-back-button:hover {
    transition: 200ms;
    background-color: rgba(255, 8, 8, 0.678);
    cursor: pointer;
    color: white;
}

.mobedit-btn-group {
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
}


/* Mobile Style End */