.mayresult {
    min-height: 100px;
    width: 450px;
    min-height: 120px;
    max-width: 90%;
    border-radius: 15px;
    background-color: rgb(210, 210, 210);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.185);
    animation: resultload 500ms 00ms forwards;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 10px 0
}

@keyframes resultload {
    from {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.185);
        background: #E7E6E6;
    }
    to {
        box-shadow: 10px 13px 10px rgba(0, 0, 0, 0.185);
        background: rgb(210, 210, 210);
    }
}

.mayimageArea {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* background-color: crimson */
}

.mayexactimage {
    margin: 10px;
    width: 100px;
    height: auto;
    border-radius: 100%;
    border: solid 2px aliceblue;
}

.textArea {
    height: 80%;
    width: 55%;
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maytextArea {
    width: 60%;
}

.maytextArea p,
h2 {
    text-align: center;
    font-family: shabnam;
}

.may-h2 {
    text-align: center;
    font-family: shabnam;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 5px 0;
}

.buttonArea {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center
}

.maybutton {
    padding: 0;
    min-width: 60px;
    max-width: 200px;
    "
 max-height: 35px;
    min-height: 35px;
    font-family: shabnam;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
}


/* Mobile */

.mobmayresult {
    min-height: 100px;
    width: 100%;
    min-height: 120px;
    border-radius: 15px;
    "
 background-color: rgb(210, 210, 210);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.185);
    animation: resultload 500ms 00ms forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 10px 0
}

@keyframes resultload {
    from {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.185);
        background: #E7E6E6;
    }
    to {
        box-shadow: 10px 13px 10px rgba(0, 0, 0, 0.185);
        background: rgb(210, 210, 210);
    }
}

.mobmayimageArea {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* background-color: crimson */
}

.mobmayexactimage {
    margin: 10px;
    width: 60px;
    height: auto;
    border-radius: 100%;
    border: solid 2px aliceblue;
}

.mobmaytextArea {
    min-width: 10px;
    width: 80%;
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobmay-h2 {
    text-align: center;
    font-family: shabnam;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.mobmaybuttonArea {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 3px 0;
}

.mobmaybutton {
    padding: 0;
    min-width: 55px;
    max-width: 80px;
    max-height: 35px;
    min-height: 35px;
    font-family: shabnam;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
}

.mobmay-p {
    text-align: center;
    font-family: shabnam;
    font-size: 13px;
    margin: 0;
}