@import url('../../Assets/GlobalCss/AllStyle.css');
@import url('../../Assets/GlobalCss/Fonts.css');

/* Desktop Style */
.message-father {
    width: 100%;
    padding: 0;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    background: transparent;
    opacity: 0;
    animation: showMessage 500ms 0ms forwards;
}

.message-remove-father{
    width: 15%;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}

.message-remove {
    width: 20px;
    height: auto;
    margin: 10px 20px 10px 20px;
    padding: 0;
    cursor: pointer;
}

.message-body-father{
    width: 70%;
    padding: 0 0 0 15%;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.message-text{
    text-align: center;
    vertical-align: middle;
    font-family: shabnam, orienta;
    color: white;
    font-size: 14px;
    padding: 0;
}

.type-error {
    background-color: rgba(236, 85, 85, 0.863);
}

.type-warning {
    background-color: rgba(224, 213, 47, 0.863);
}

.type-simple {
    background-color: rgba(66, 128, 209, 0.863);
}

@keyframes showMessage {
    0%{
        min-height: 0;
        opacity: 0;
    }
    100%{
        min-height: 40px;
        opacity: 1;
    }
}

/* Desktop Style End */

/* Mobile Style */

/* Mobile Style End */