@import url('../../../Assets/GlobalCss/AllStyle.css');
@import url('../../../Assets/GlobalCss/Fonts.css');

/* Desktop Style */
.step3box{
    width: 650px;
    min-height: 450px;
    border-radius: 15px;
    background: rgb(226, 226, 226);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    animation: divIn 500ms 0ms forwards;
}


.step3body{
    width: 100%;
    min-height: 170px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inpgroup{
    width: 60%;
    padding: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;
    border: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.inpdef{
    font-family: shabnam, orienta;
    font-size: 18px;
    text-align: center;
    color: rgb(73, 73, 73);
    margin-bottom: 10px;
}

.brdtop {
    border-top: solid 1px rgba(197, 194, 194, 0.856);
}
.brdbtm{
    border-bottom: solid 1px rgba(197, 194, 194, 0.856);
}

.stextarea{
    resize: none;
    box-sizing: border-box;
    width: 300px;
    min-height: 50px;
    border-radius: 8px;
    border: none;
    background: transparent;
    border: solid 1px rgb(79, 197, 197);
    margin-top: 10px;
    padding: 15px;
    font-size: 14px;
    text-align: right;
    vertical-align: top;
    font-family: orienta, shabnam;
    margin: 10px;
    color: rgba(0, 0, 0, 0.753);
    direction: rtl;
    line-height: 20px;
    overflow: hidden;
}
.stextarea:focus{
    outline: none;
}

/* Desktop Style End */

/* Mobile Style */
.mobstep3box{
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    animation: mobdivIn 500ms 0ms forwards;
}


.mobstep3body{
    width: 100%;
    min-height: 170px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mobinpgroup{
    width: 80%;
    padding: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;
    border: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mobinpdef{
    font-family: shabnam, orienta;
    font-size: 15px;
    text-align: center;
    color: rgb(73, 73, 73);
    margin-bottom: 10px;
}

.mobbrdtop {
    border-top: solid 1px rgba(197, 194, 194, 0.856);
}
.mobbrdbtm{
    border-bottom: solid 1px rgba(197, 194, 194, 0.856);
}

.mobstextarea{
    resize: none;
    box-sizing: border-box;
    min-width: 270px;;
    max-width: 400px;
    min-height: 50px;
    border-radius: 8px;
    border: none;
    background: transparent;
    border: solid 1px rgb(79, 197, 197);
    margin-top: 10px;
    padding: 15px;
    font-size: 12px;
    text-align: right;
    vertical-align: top;
    font-family: orienta, shabnam;
    margin: 10px;
    color: rgba(0, 0, 0, 0.753);
    direction: rtl;
    line-height: 20px;
    overflow: hidden;
}
.mobstextarea:focus{
    outline: none;
}

/* Mobile Style End */