@import url('../../../Assets/GlobalCss/AllStyle.css');
@import url('../../../Assets/GlobalCss/Fonts.css');

/* Desktop Style */
.stepbox{
    width: 550px;
    min-height: 350px;
    border-radius: 15px;
    background: rgb(226, 226, 226);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.stepdef {
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    min-height: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgba(197, 194, 194, 0.856);
}

.stepdefbig{
    margin: 0;
    margin-top: 10px;
    font-family: shabnam;
    font-size: 18px;;
    text-align: center;
    color: rgb(36, 36, 36);
}

.stepdefsmall{
    font-family: shabnam;
    font-size: 13px;
    text-align: center;
    color: rgb(73, 73, 73);
    margin-bottom: 10px;
}

.stepbody{
    width: 100%;
    min-height: 170px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.stepinput{
    box-sizing: border-box;
    width: 240px;
    min-height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px rgb(79, 197, 197);
    margin: 5px;
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    font-family: orienta, shabnam;
    
}

.stepinput:focus{
    background-color: rgba(79, 197, 197, 0.11);
    transition: 200ms;
}

.stepyearinp{
    box-sizing: border-box;
    width: 120px;
    min-height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px rgb(79, 197, 197);
    margin: 5px;
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    font-family: orienta, shabnam;
}

.stepyearinp:focus{
    background-color: rgba(79, 197, 197, 0.11);
    transition: 200ms;
}
.steperror {
    min-width: 50%;
    color: rgb(235, 51, 51);
    border: none;
    height: 0;
    background-color: transparent;
    font-family: shabnam, orienta;
    text-align: center;
    margin-top: 10px;
    vertical-align: middle;
    font-size: 14px;
}

.stepcontrol{
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.stepforw{
    box-sizing: border-box;
    min-width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(90, 197, 125);
    border: none;
    margin-top: 10px; 
    margin-bottom: 10px;    
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-align: center;
    font-family: orienta, shabnam;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.589);
}
.stepforw:hover{
    color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.205);
}

.stepforw:disabled{
    background-color: rgba(90, 197, 126, 0.411);
    color: rgba(0, 0, 0, 0.336);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.205);
    cursor: default;
}

.stepback{
    box-sizing: border-box;
    min-width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(216, 88, 99);
    border: none;
    margin-top: 10px;    
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-align: center;
    font-family: orienta, shabnam;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.stepback:hover{
    color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.205);
}

.stepback:disabled{
    color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.205);
    cursor: default;
}

.avatarinp{
    display: none;
    overflow: hidden;
}

.avimage{
    height: 100px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    opacity: 0.7;
}

.avatarspan{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.avatarlabel{
    font-family: shabnam, orienta;
    font-size: 14px;
    direction: rtl;
    color: rgba(0, 0, 0, 0.61);
}

@keyframes heigthUp {
    from {
        height: 0;
        color: transparent;
    }
    to{
        height: 30px;
        color: rgb(235, 51, 51);
    }
}

@keyframes heigthDown {
    from {
        height: 30px;
        color: rgb(235, 51, 51);
    }
    to{
        height: 0px;
        color: transparent;
    }
}

@keyframes divOut{
    from{
        z-index: +1;
        opacity: 1;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.205);

    }
    to{
        z-index: -1;
        opacity: 0;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.205);
    }
}

@keyframes divIn{
    0%{
        z-index: -1;
        opacity: 0;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.205);
    }
    100%{
        z-index: +1;
        opacity: 1;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.205);
    }
}
/* Desktop Style End */

/* Mobile Style */
.mobstepbox{
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.mobstepdef {
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    min-height: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgba(197, 194, 194, 0.856);
}

.mobstepdefbig{
    margin: 0;
    margin-top: 10px;
    font-family: shabnam;
    font-size: 16px;;
    text-align: center;
    color: rgb(36, 36, 36);
}

.mobstepdefsmall{
    font-family: shabnam;
    font-size: 11px;
    text-align: center;
    color: rgb(73, 73, 73);
    margin-bottom: 10px;
}

.mobstepbody{
    width: 100%;
    min-height: 170px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.mobstepinput{
    box-sizing: border-box;
    width: 240px;
    min-height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px rgb(79, 197, 197);
    margin: 5px;
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    font-family: orienta, shabnam;
    
}

.mobstepinput:focus{
    background-color: rgba(79, 197, 197, 0.11);
    transition: 200ms;
}

.mobsteperror {
    min-width: 50%;
    color: rgb(235, 51, 51);
    border: none;
    height: 0;
    background-color: transparent;
    font-family: shabnam, orienta;
    text-align: center;
    margin-top: 10px;
    vertical-align: middle;
    font-size: 12px;
}

.mobstepcontrol{
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.mobstepforw{
    box-sizing: border-box;
    min-width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(90, 197, 125);
    border: none;
    margin-top: 10px; 
    margin-bottom: 10px;    
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    text-align: center;
    font-family: orienta, shabnam;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.589);
}
.mobstepforw:hover{
    color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.205);
}

.mobstepforw:disabled{
    background-color: rgba(90, 197, 126, 0.411);
    color: rgba(0, 0, 0, 0.336);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.205);
    cursor: default;
}

.mobstepback{
    box-sizing: border-box;
    min-width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(216, 88, 99);
    border: none;
    margin-top: 10px;    
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    text-align: center;
    font-family: orienta, shabnam;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.mobstepback:hover{
    color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.205);
}

.mobstepback:disabled{
    color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.205);
    cursor: default;
}

.mobavatarinp{
    display: none;
    overflow: hidden;
}

.mobavimage{
    height: 100px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    opacity: 0.7;
}

.mobavatarspan{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.mobavatarlabel{
    font-family: shabnam, orienta;
    font-size: 14px;
    direction: rtl;
    color: rgba(0, 0, 0, 0.61);
}

.mobstepyearinp{
    box-sizing: border-box;
    width: 120px;
    min-height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px rgb(79, 197, 197);
    margin: 5px;
    transition: 200ms;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    font-family: orienta, shabnam;
}
.mobstepyearinp:focus{
    background-color: rgba(79, 197, 197, 0.11);
    transition: 200ms;
}

@keyframes mobheigthUp {
    from {
        height: 0;
        color: transparent;
    }
    to{
        height: 20px;
        color: rgb(235, 51, 51);
    }
}

@keyframes mobheigthDown {
    from {
        height: 20px;
        color: rgb(235, 51, 51);
    }
    to{
        height: 0px;
        color: transparent;
    }
}

@keyframes mobdivOut{
    from{
        z-index: +1;
        opacity: 1;

    }
    to{
        z-index: -1;
        opacity: 0;
    }
}

@keyframes mobdivIn{
    0%{
        z-index: -1;
        opacity: 0;
    }
    100%{
        z-index: +1;
        opacity: 1;
    }
}
/* Mobile Style End */

.crct{
    width: 100%;
    height: 100%;
}