.chert-box {
    width: 70%;
    /* height: 25vh; */
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: -40px;
}

.chert-head {
    height: 25%;
    width: 90%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.534);
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: shabnam;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.chert-body {
    margin: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.chert-body p {
    text-align: center;
    font-family: shabnam;
    color: rgba(41, 40, 40, 0.884);
    line-height: 20px;
    margin-top: 3px;
    margin-bottom: 0;
}

.chert-anim {
    animation: hide-chert-body 1s 0ms forwards;
}

@keyframes hide-chert-body {
    from {
        height: 66px;
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
    }
}