@import url('../../Assets/GlobalCss/AllStyle.css');
@import url('../../Assets/GlobalCss/Fonts.css');

/* Desktop Style */
.option-toggle-father{
    min-width: 100px;
    height: 40px;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.option-name{
    font-family: orienta, shabnam;
    text-align: center;
    font-size: 12px;
    margin: 10px;
}
.option-back{
    padding: 1px;
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: solid 1px rgb(61, 61, 61);
    border-radius: 30px;
    cursor: pointer;
}
.option-circle{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: rgb(117, 117, 117);
    cursor: pointer;
    box-sizing: border-box;
    transition: 200ms;
    margin-left: 20px;
}
/* Desktop Style End */
