@import url('../../Assets/GlobalCss/AllStyle.css');
@import url('../../Assets/GlobalCss/Fonts.css');

/* Desktop Style */

.searchbox-all {
    width: 100%;
    min-height: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.searchbox-inp-father {
    width: 100%;
    min-height: 100px;
    padding: 0;
    margin: 20px 0 20px 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: -20px;
}

.searchbox-button {
    padding: 0;
    min-width: 100px;
    max-width: 200px;
    max-height: 35px;
    min-height: 35px;
    font-family: shabnam;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(49, 49, 49);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

.searchbox-button:focus {
    outline: none;
    outline: 0;
}

.searchbox-input {
    min-width: 400px;
    max-width: 400px;
    max-height: 35px;
    min-height: 35px;
    font-family: orienta, shabnam;
    font-size: 14px;
    color: white;
    padding: 0px;
    margin: 0;
    margin-left: 0px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(194, 194, 194);
    border: solid 1px rgb(231, 230, 230);
    color: black;
    direction: rtl;
    vertical-align: middle;
}

.searchbox-input:focus {
    outline: none;
}

.searhbox-options-father {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.searhbox-options-father select {
    position: relative;
    font-family: shabnam;
    background-color: rgb(194, 194, 194);
    margin: 5px;
    text-align: center;
    border: none;
    padding: 2px;
}

.searhbox-options-father option {
    border: none;
}

.searhbox-result-father {
    display: flex;
    flex-direction: column;
    width: 55%;
    min-height: 47vh;
    align-items: center;
    padding: 10px 0px 10px 0px;
    margin-bottom: 30px;
}

.searhbox-result-father p {
    margin-top: -5px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: 20px;
}


/* Desktop Style End */


/* Mobile Style */


/* Mobile Style End */