.result {
    height: 35%;
    width: 85%;
    min-height: 120px;
    min-width: 660px;
    border-radius: 15px;
    background-color: rgb(210, 210, 210);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.185);
    animation: resultload 500ms 00ms forwards;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 10px 0
}

@keyframes resultload {
    from {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.185);
        background: #E7E6E6;
    }
    to {
        box-shadow: 10px 13px 10px rgba(0, 0, 0, 0.185);
        background: rgb(210, 210, 210);
    }
}

.imageArea {
    height: 80%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: crimson */
}

.imageArea img {
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
}

.textArea {
    height: 80%;
    width: 55%;
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textArea p,
h2 {
    text-align: center;
    font-family: shabnam;
}

.textArea h2 {
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.textArea div {
    min-width: 363px;
    min-height: 63.33px;
    display: flex;
    justify-content: center;
    align-items: center
}

.textArea p {
    font-size: 15px;
    font-weight: 300;
}

.buttonArea {
    height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonArea button {
    padding: 0;
    min-width: 100px;
    max-width: 200px;
    max-height: 35px;
    min-height: 35px;
    font-family: shabnam;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}